@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@300&family=Lora&display=swap');

.dashboard-page{
    margin-top: 10vh;
    padding-top: 2vh;
    display: flex;
    flex-direction: row;
    font-family: 'Lora', serif;
    background-color: white;
}

.dashboard-menu{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 50vh;
    margin-left: 5vw;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    background-color: white;

}

.dashboard-menu-button {
    margin: 10px;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
}

.menu-button.active {
    background-color: #e0e0e0; /* Light gray background */
    color: #000; /* Dark text for contrast */
}

.dashboard-books{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    gap: 2vh;
}
.book-container{
    height: 40vh;
    width: 100%;
    display: flex;
    padding-left: 2vw;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.book-details{
    text-align: left;
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    margin-right: 3vw;
}

.book-index{
    font-size: 1.5rem;
    font-weight: bold;
}

.book-title{
    font-size: 1.5rem;
    font-weight: bold;
}

.book-info{
    font-size: 0.8rem;
}

.book-description{
    font-size: 0.8rem;
}

.book-cover{
    aspect-ratio: 2/3;
    width : 20vh;
    height: 30vh;
    align-self: center;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    border-radius: 1vh;
    transition: transform 0.3s ease-in-out;
}

.book-cover:hover{
    transform: scale(1.2); /* Add this line */
}

.shuffle{
    height : 10vh;
    width: 10vh;
    align-self: center;
    padding : 1vw;
}

.catalogue-books-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.catalogue-book-container {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.catalogue-book-cover {
    width: 80px;
    height: 120px;
    object-fit: cover;
    border-radius: 4px;
    margin-right: 15px;
}

.catalogue-book-details {
    flex-grow: 1;
}

.catalogue-book-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.catalogue-book-info {
    font-size: 0.9rem;
    color: #666;
}

.catalogue-book-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.catalogue-book-button:hover {
    background-color: #45a049;
}


.star-rating {
    display: inline-block;
    font-size: 2em; /* Size of the stars */
    color: #ffd700; /* Color of the stars */
}

.star-rating .star {
    cursor: pointer; /* Changes cursor to pointer when hovering over a star */
}

.star-rating .star:hover {
    color: #ffcc00; /* Color of stars on hover */
}

.search-form {
    display: flex;
    margin-bottom: 20px;
}

.search-input {
    flex-grow: 1;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

.search-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: #45a049;
}

.sorting-options {
    display: flex;
    justify-content: flex-end;
}

.sort-select {
    padding: 10px;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.pagination-controls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.page-button {
    padding: 10px 15px;
    margin: 0 5px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.page-button:hover {
    background-color: #e0e0e0;
}

@media only screen and (max-width: 768px) {

    .dashboard-page {
        flex-direction: column;
        margin-top: 5vh;
        padding-top: 2vh;
    }

    .dashboard-menu {
        width: 100%;
        height: auto;
        margin-left: 0;
        margin-bottom: 20px;
    }

    .dashboard-books {
        width: 100%;
    }

    .book-container {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    .book-details {
        padding-left: 0;
        margin-right: 0;
        align-items: center;
        text-align: center;
    }

    .book-cover {
        width: 50vh; /* Adjust size as per the design */
        height: auto;
        margin-bottom: 10px;
    }

    .book-title, .book-index {
        font-size: 1.2rem;
    }

    .book-info, .book-description {
        font-size: 0.9rem;
    }

    .shuffle {
        width: 8vh;
        height: 8vh;
    }

    .catalogue-books-container {
        gap: 10px;
    }

    .catalogue-book-container {
        flex-direction: column;
        align-items: start;
        padding: 15px;
    }

    .catalogue-book-cover {
        width: auto; /* Adjust size as needed */
        height: 150px; /* Adjust size as needed */
        margin: 0 auto 10px;
    }

    .search-form {
        flex-direction: column;
    }

    .search-input, .search-button {
        width: 100%;
        border-radius: 5px;
    }

    .sorting-options, .pagination-controls {
        justify-content: space-around;
    }

    .sort-select, .page-button {
        width: 100%;
        margin: 10px 0;
    }

    .star-rating {
        font-size: 1.5em;
    }
}

